  <!-- Footer -->
<footer>
  <div class="container">
    <h4 class='text-center'>Thank you for reading about my rife.</h2>
    <h5 class='text-center subheader'>&#9829; Gavin Ching 2014</h5>
    <h6 class="text-center subheader">Built with love with <a href="http://foundation.zurb.com/">Foundation</a></h6>
    <div class="text-center"><a href="#top" class="button radius up-button">Go back up baby!</a></div>
  </div>


</footer>
