  <!-- Footer -->

  <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-6 columns">
          <h5 class="subheader">&copy; Copyright - Gavin Ching 2013</h5>
        </div>
        <div class="large-6 columns">
           <h5 class="subheader right"><a href="#top">Go back up baby!</a></h5>
        </div>
      </div>
    </div>
  </footer>