<div class="header-fake fixed">
  <div class="container">
    <div class="left">
      <h1><%= link_to "My Story", root_path %> <small>A detailed book on my "rife" journey.   <%= link_to image_tag("feed-icon-28x28.png"), feed_path %></small>
      </h1>
    </div>
    <div class="right" style="padding-top: 15px;">
      <a href="#" data-reveal-id="aboutModal" class="about-me-btn success button radius">Who dat?</a>
    </div>
  </div>
<!-- About me button information -->
<%= render 'shared/about' %>
</div>
