<%# content_for :head, auto_discovery_link_tag(:atom, feed_path) %>

<section id="header-section" class="module parallax" style="background-image: url('/assets/picture2-web.jpg')">
  <div class="container">
    <h1>My Story</h1>
  </div>
</section>

<% chapters.order("created_at DESC").each do |chapter| %>
  <section id="<%=chapter.id%>-section" class="module parallax" style="background-image: url('<%= chapter.banner_url %>')">
    <div class="container">
      <h1><%= link_to "Chapter #{chapter.id}", chapter_path(chapter)  %></h1>
    </div>
  </section>
<% end %>
