<%# insert some form of navigation for going back and next %>

 <div class="row">
    <div class="small-11 small-centered columns">
	    <%= render 'nav' %>
		<h3> Chapter <%= @chapter.id %> - <%= @chapter.title %></h3>
		<div class="row">
		  <div class="small-9 small-centered large-uncentered columns"><p><%= @chapter.body %></p></div>
		</div>
    </div>
  </div>