.header-about {
  padding-top: 17px;

}
.header-fix {
  background-attachment:fixed;
}


.chapters {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 30px 0;
    border-bottom: 1px solid #e8e8e8;
    &:last-child{
      border-bottom: none;
    }
  }
}

.orbit-me img {
  width: 100%;
  height: auto;
}
