.faded {
  opacity: 0.8;
}
.section-fade {
  opacity: 0.6;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.header-img {
  background-image: image-url("that-me.JPG");
}

.header-fake {
  background-color: #d2e8ee;
  display: none;
}
.header-fake h1 {
  font-size: 50px;
}
.header-about {
  padding-top: 17px;
}
.header-fix {
  background-attachment:fixed;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.container-padding {
  padding-top: 200px;
}

section.module.parallax {
  padding-top: 1px;
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
section.module.parallax h1 {
  color: rgba(255, 255, 255, 1.0);
  font-size: 20px;
  line-height: 100px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
section.module.parallax h2 {
  background-color: rgba(0,0,0,0.3);   /*opaque black */
  color: rgba(255, 255, 255, 0.8);
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

section.module.parallax .about-me {
  text-align: center;
}

/* Comments */
.comment-pad {
  padding-bottom: 20px;
}

/* Footer */
footer {
  padding: 50px;
  background-color: #eaf9fc;
}

@media all and (min-width: 600px) {

  section.module.parallax h1 {
    font-size: 30px;
  }
}
@media all and (min-width: 960px) {


  section.module.parallax h1 {
    font-size: 50px;
  }
}


@media only screen and (max-width: 40em) {
  .header-fake h1 {
    font-size: 46px;
  }
  .header-fake h1 small {
    display: none;
  }
}
@media only screen and (min-width: 40.063em) {
  .header-fake h1 {
    font-size: 50px;
  }
  .header-fake h1 small {
    font-size: 16px;
  }
}
